---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zarabiaj z nami już dziś!">
  <header>
    <nav>
      <a href="#">Oferta</a>
      <a href="#">Opinie</a>
      <a href="#">Kontakt</a>
    </nav>
  </header>
  <main></main>
</Layout>

<style>
  main {
  }
  header {
    min-height: var(--headerH);
	display: flex;
	justify-content: center;
  }
  nav {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 80%;
  }

  a {
    text-decoration: none;
	font-size: 1.4rem;
    padding: 1rem;
	margin: 0rem 0.2rem;
	transition: 200ms ease;
  }
  a:hover {
	color: blueviolet;
  }
</style>
